# Local .terraform folder
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Sensitive variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# OS/Metadata
*.Zone.Identifier
.DS_Store

